<h1>Hola soy la pagina de promociones en hbs</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
     Non, cumque accusantium iure explicabo, saepe magnam corporis architecto a rem fugiat natus perspiciatis eos nemo voluptatibus illum, quaerat quasi repellat rerum?</p>