body{
	margin:0px;
}

#texto {
	
	background:yellow;
	margin-top:65px;
      }


#fijo {
	position: fixed;  /* por mas de ir para abajo, determinado objeto se queda estatico en la pantalla y te sigue*/
	top: 0px;
	background-color: #CCCCCC;
	height:60px;
	width: 100%; /* lo damos formas de botonera*/
}
