<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="text-end">Hola {{persona}} ! </p>
        <button type="button" class="btn btn-outline-danger" href="/admin/login/logout">Cerrar sesion</button>
    </div>
</div>