/* REGLAS */
h1{
    /* https://htmlcolorcodes.com/es/  */
    background-color: #442fa5; /* color del fondo */
    text-align: center;
    text-transform: uppercase; /* MAYUSCULA*/
}

h2{
    color: red; /* color de la letra */
    font-family: Arial, Helvetica, sans-serif; /* fuente */
    font-size: 30px; /* tamaño de la letra */
}

p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 28px; /* separacion entre linea */
}

.destacados{ /* con class se usa . */
    color: green;
    font-style: italic;
    font-weight: bold; /* ""negrita"" */
}

#caja{ /* con id se usa # */
    background-color: aqua;
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 30px;
    margin-left: 800px;
    /* border: 5px solid black; */
    border-top: 13px dashed #442fa3;
}

#caja p{
    color: blueviolet;
    font-weight: bold;
}

/* pixel es la unidad mininma de resolucion de la pantalla*/

/* 1rem = 16px si no difinimos font-size 
O 
:root{
    font-size: 30px; (se toma como 1 rem)
}
*/

/* em es el tamaño base de referencia mas cercano*/

/*
p{
    font-size: 20px;
}

p{
    font-size: 1.5rem (24px);
}

p{
    font-size: 2em (40px);
}
*/

/* si queres que sea todo proporcional se usa rem */
/* si queres que sea proporcional por sectores se usa em */
